  h1 {
    color: blue;
    font-family: Arial, sans-serif;
	font-size:20px;
  }

  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .info {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }